@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>UserCRUD web application</h3>

</div>

<div class="text">
    <h6>Basic details of the project</h6>
    <ul>
        <li>Users tab - shows all the registered users in the system, with the possibility to edit their details.</li>
        <li>Add User tab - lets you add a new user record to the system.</li>
    </ul>
</div>
